<div class="breadcrumbs ace-save-state" id="breadcrumbs">
    <ul class="breadcrumb">
        <li>
            <i class="ace-icon fa fa-home home-icon"></i>
            <a href="#/">Home</a>
        </li>
        <li>
            <a>Work Order</a>
        </li>

        <li class="active">Add Edit Work Order</li>

    </ul><!-- /.breadcrumb -->

    <div class="nav-search" id="nav-search">
        <button class="btn1 btn-primary" type="button" ng-click="setDocStatusToWorkingDraft(userForm)" ng-if="(workOrder.lngDocStatus==2)">
            <i class="ace-icon fa fa-reply bigger-110"></i>
            Send back to Working Draft
        </button>
        <button class="btn1 btn-primary" type="button" ng-click="setDocStatusToApproved(userForm)" ng-if="workOrder.lngDocStatus==2">
            <i class="ace-icon fa fa-reply bigger-110"></i>
            Approved
        </button>
        <button class="btn1 btn-primary" type="button" ng-click="saveIssueWorkOrderClick(userForm)" ng-if="isWorkOrderIssueScreen">
            <i class="ace-icon fa fa-plus-circle bigger-110"></i>
            Save
        </button>
        <button class="btn1 btn-primary" type="button" ng-click="saveWorkOrderClick(userForm)" ng-if="workOrder.lngDocStatus==1 || !isEditMode">
            <i class="ace-icon fa fa-plus-circle bigger-110"></i>
            Save
        </button>
        <button class="btn1" type="reset" ng-click="cancelClick();">
            <i class="ace-icon fa fa-closecircle bigger-110"></i>
            Cancel
        </button>
    </div><!-- /.nav-search -->
</div>
<div class="page-content">
    <div class="row">
        <div class="col-xs-12">
            <div class="form-inline">
                <div class="alert alert-danger" ng-if="isError">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    <strong>
                        <i class="ace-icon fa fa-times"></i>
                        Oh snap!
                    </strong>
                    {{SuccessErrorMessage}}
                    <br />
                </div>
                <div class="alert alert-block alert-success" ng-if="isSuccess">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    <p>
                        <strong>
                            <i class="ace-icon fa fa-check"></i>
                            Well done!
                        </strong>
                        {{SuccessErrorMessage}}
                    </p>
                </div>
                <form name="userForm" class="form-horizontal" novalidate>
                    <div class="row">
                        <label class="col-sm-1">WO #</label>
                        <div class="col-sm-3">
                            <input type="text" class="form-control" name="txtWONumber" ng-model="workOrder.strWONumber" placeholder="WO Number" ng-disabled="true">
                        </div>
                        <label class="col-sm-1">Date</label>
                        <div class="col-sm-3" ng-class="{ 'has-error' : userForm.datCreatedDate.$invalid && (userForm.datCreatedDate.$dirty || submitted)}">
                            <input type="text" class="form-control" ng-model="workOrder.datCreatedDate" name="Date" data-autoclose="1" data-date-format="dd-MM-yyyy" bs-datepicker required tabindex="2" placeholder="WO Date" ng-disabled="true">
                            <p ng-show="userForm.datCreatedDate.$error.required && (userForm.datCreatedDate.$dirty || submitted)" class="help-block">Date is required.</p>
                        </div>
                        <label class="col-sm-4"></label>

                    </div>

                    <div class="space-4"></div>
                    <div class="row">                        
                        <label class="col-sm-1">Item #</label>
                        <div class="col-sm-3" ng-class="{ 'has-error' : userForm.ddlItem.$invalid && (userForm.ddlItem.$dirty || submitted)}">
                            <div name="ddlItem" style="width:98%;" custom-select="obj.Id as obj.CodeDesc for obj in dispItem | filter: { CodeDesc: $searchTerm } track by obj.Id"
                                 ng-model="workOrder.lngItemId"
                                 ng-change="workOrder.lngItemId > 0 && getItemInfo()" ng-required="true" ng-disabled="isEditMode">

                            </div>
                            <p ng-show="userForm.ddlItem.$error.required && (userForm.ddlItem.$dirty || submitted)" class="help-block">Item Code is required.</p>
                        </div>
                        <label class="col-sm-1">Name</label>
                        <div class="col-sm-3">
                            <input name="txtItem" class="form-control" ng-model="item.ItemName" placeholder="Item" ng-disabled="true">
                        </div>
                        <label class="col-sm-1">Part #</label>
                        <div class="col-sm-3">
                            <input type="text" name="txtPartNumber" class="form-control" ng-model="item.PartNumber" placeholder="Part #" ng-disabled="true">
                        </div>
                        
                    </div>
                    <div class="space-4"></div>
                    <div class="row">
                        <label class="col-sm-1">Description</label>
                        <div class="col-sm-3">
                            <input name="txtDescription" class="form-control" ng-model="item.ItemDescription" placeholder="Description" ng-disabled="true">
                        </div>
                        <label class="col-sm-1">BOM Ref#</label>
                        <div class="col-sm-3">
                            <input name="txtBOMRef" class="form-control" ng-model="workOrder.strBOMNumber" placeholder="BOM Ref #" ng-disabled="true">
                        </div>

                        <label class="col-sm-1">Dwg #</label>
                        <div class="col-sm-3" ng-class="{ 'has-error' : userForm.ddlDrawing.$invalid && (userForm.ddlDrawing.$dirty || submitted)}">
                            <select class="form-control" id="ddlDrawing" name="ddlDrawing" ng-model="workOrder.intDiagramId"
                                    ng-options="obj.Id as obj.Identifier for obj in itemDrawing" ng-required="true" ng-disabled="true">
                                <option value="">--Select--</option>
                            </select>
                            <p ng-show="userForm.ddlDrawing.$error.required && (userForm.ddlDrawing.$dirty || submitted)" class="help-block">Drawing # is required.</p>
                        </div>
                        
                        
                    </div>
                    <div class="space-4"></div>

                    <div class="row">
                        <label class="col-sm-1">Rev #</label>
                        <div class="col-sm-3">
                            <input name="txtBOMRevisedDate" class="form-control" ng-model="workOrder.RevisedDate" placeholder="BOM RevisedDate" ng-disabled="true">
                        </div>
                        <label class="col-sm-1">PP#</label>
                        <div class="col-sm-3" >
                            <select id="ddlProductionPlanNo" style="width:98%;" name="ddlContactDepartment" ng-model="workOrder.intProductionPlanId" ng-disabled="isEditMode ==true && workOrder.lngDocStatus!=1">
                                <option value="">--Select--</option>
                            </select>
                            
                        </div>
                        <label class="col-sm-1">Department</label>
                        <div class="col-sm-3" ng-class="{ 'has-error' : userForm.ddlDepartment.$invalid && (userForm.ddlDepartment.$dirty || submitted)}">
                            <select id="ddlDepartment" style="width:98%;" name="ddlContactDepartment" ng-model="workOrder.intDepartmentId" ng-disabled="isEditMode ==true && workOrder.lngDocStatus!=1">
                                <option value="">--Select--</option>
                            </select>
                            <p ng-show="userForm.ddlDepartment.$error.required && (userForm.ddlDepartment.$dirty || submitted)" class="help-block">Department is required.</p>
                        </div>
                        
                        
                    </div>
                    <div class="space-4"></div>
                    <div class="row">
                        <label class="col-sm-1">SPSF Ref #</label>
                        <div class="col-sm-3">
                            <select class="form-control" id="ddlDrawing" name="ddlSPSF" ng-model="workOrder.intSalesForecastId" ng-disabled="isEditMode ==true && workOrder.lngDocStatus!=1">
                                <option value="">--Select--</option>
                            </select>                           
                        </div>

                        <label class="col-sm-1">Cust Order #</label>
                        <div class="col-sm-3">
                            <select class="form-control" id="ddlDrawing" name="ddlCustomerOrder" ng-model="workOrder.intCustomerOrderId" ng-disabled="isEditMode ==true && workOrder.lngDocStatus!=1">
                                <option value="">--Select--</option>
                            </select>                         
                        </div>

                        <label class="col-sm-1">Batch Qty</label>
                        <div class="col-sm-3" ng-class="{ 'has-error' : userForm.txtBatchQty.$invalid && (userForm.txtBatchQty.$dirty || submitted)}">
                            <input type="text" name="txtBatchQty" style="width:70%;" class="form-control" ng-model="workOrder.decBatchQty" placeholder="Batch Qty" ng-required="true" decimal-number ng-change="workOrder.decBatchQty>0 && updateComponantQuantity();" ng-disabled="isEditMode ==true && workOrder.lngDocStatus!=1">
                            <div style="width:29%;float:right;vertical-align:middle;margin-top:6px;margin-left:1px;">{{item.tblMasterUnitOfMeasure.UOMCode}}</div>
                            <p ng-show="userForm.txtBatchQty.$error.required && (userForm.txtBatchQty.$dirty || submitted)" class="help-block">Batch Qty is required.</p>
                            
                        </div>                        
                    </div>
                    <div class="space-4"></div>
                    <div class="row">
                        <label class="col-sm-1">Date of Completation</label>
                        <div class="col-sm-3" ng-class="{ 'has-error' : userForm.txtExpectedCompletationDate.$invalid && (userForm.txtExpectedCompletationDate.$dirty || submitted)}">
                            <input type="text" name="txtExpectedCompletationDate" class="form-control" ng-model="workOrder.datExpectedDateOfCompletation" data-autoclose="1" data-date-format="dd-MM-yyyy" bs-datepicker required tabindex="2" placeholder="Expected Date of Complete" ng-disabled="isEditMode ==true && workOrder.lngDocStatus!=1">
                            <p ng-show="userForm.txtExpectedCompletationDate.$error.required && (userForm.txtExpectedCompletationDate.$dirty || submitted)" class="help-block">Date is required.</p>
                        </div>
                        <label class="col-sm-4">Delivery Schedule</label>
                        <label class="col-sm-4"><b></b></label>
                    </div>
                    <!--<div class="row">
                        <div class="col-sm-6">
                            <div class="table-header">
                                Drawing
                            </div>
                            <a data-placement="auto" data-title="Click here to expand" bs-tooltip><img ng-src="{{previewDrawing}}" ng-if="previewDrawing" style="cursor:pointer; width:100%;height:200px;border:solid;border-width:1px;" ng-click="workOrder.intDiagramId > 0 && openDrawing()" /></a>
                            <img src="Content/assets/images/defaultDwgNotFound.png" ng-if="!previewDrawing" style="width:100%;height:200px;border:solid;border-width:1px;" />
                        </div>
                        <div class="col-sm-6">
                            <div class="table-header">
                                Technical Specification
                            </div>
                            <textarea name="txtSpecification" class="form-control" style="height:200px;" ng-model="workOrder.strWODescription" placeholder="Technical specification" ng-required="true" ng-disabled="isEditMode ==true && workOrder.lngDocStatus!=1"></textarea>

                        </div>
                    </div>-->
                    <div class="space-4"></div>
                    <div class="row">
                        <label class="col-sm-6"><b>Items</b></label>
                        <label class="col-sm-6"></label>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="dataTables_wrapper form-inline">
                                <table class="table table-striped table-bordered table-hover" style="table-layout:fixed;">
                                    <thead class="tableheading">
                                        <tr>                                            
                                            <th style="width:15%;">
                                                <div class="sort"><a>Item</a></div>
                                            </th>
                                            <th style="width:10%;">
                                                <div class="sort"><a>Part #</a></div>
                                            </th>
                                            <th style="width:5%;">
                                                <div class="sort"><a>Phase</a></div>
                                            </th>
                                            
                                            <th style="width:3%;">
                                                <div class="sort"><a>Qty</a></div>
                                            </th>
                                            <th style="width:8%;">
                                                <div class="sort"><a>Buffer</a></div>
                                            </th>
                                            <th style="width:8%;" ng-if="isWorkOrderIssueScreen">
                                                <div class="sort"><a>Issued Qty</a></div>
                                            </th>
                                            <th style="width:18%;" ng-if="isWorkOrderIssueScreen">
                                                <div class="sort"><a>Issue Qty</a></div>
                                            </th>
                                            <th style="width:8%;" ng-if="!isWorkOrderIssueScreen">
                                                <div class="sort"><a>Dwg#</a></div>
                                            </th>
                                            <th style="width:8%;">
                                                <div class="sort"><a>Proc Status</a></div>
                                            </th>
                                            <th style="width:10%;">
                                                <div class="sort"><a>Note</a></div>
                                            </th>
                                            <th style="width:5%;" ng-if="!isWorkOrderIssueScreen">
                                                <div class="sort"><a>Indent</a></div>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr ng-repeat="objItem in gridItems">                                            
                                            <td>
                                                <div ng-class="{ 'has-error' : userForm.ddlGridItem.$invalid && (userForm.ddlGridItem.$dirty || submitted)}">
                                                    <select id="ddlGridItem" style="width:98%;" name="ddlGridItem" ng-model="objItem.lngItemId" 
                                                            ng-options="obj.Id as obj.CodeDesc for obj in dispItem" ng-required="true">
                                                        <option value="">--Select--</option>
                                                    </select>
                                                    <p ng-show="userForm.ddlGridItem.$error.required && (userForm.ddlGridItem.$dirty || submitted)" class="help-block">item is required.</p>
                                                </div>
                                            </td>
                                            <td>
                                               {{objItem.partNo}}
                                            </td>
                                            <!--<td><input type="text" style="width:98%;" name="txtGridDescription" class="form-control" ng-model="objItem.itemdesc" placeholder="Description" ng-disabled="true"></td>-->
                                            <td>
                                                <div ng-class="{ 'has-error' : userForm.ddlGridPhase.$invalid && (userForm.ddlGridPhase.$dirty || submitted)}">
                                                    <select id="ddlGridPhase" style="width:98%;" name="ddlGridPhase" ng-model="objItem.intPhase"
                                                            ng-options="obj.lngId as obj.strCode for obj in dispWOPhase" ng-required="true" ng-disabled="workOrder.lngDocStatus!=1 && isEditMode==true">
                                                        <option value="">--Select--</option>
                                                    </select>
                                                    <p ng-show="userForm.ddlGridPhase.$error.required && (userForm.ddlGridPhase.$dirty || submitted)" class="help-block">Phase is required.</p>
                                                  
                                                </div>
                                            </td>
                                            <td>{{objItem.lngQuantity}} {{objItem.uom}}</td>
                                            <td>
                                                <div>
                                                    <div class="inline dropdown-hover">
                                                        <a>
                                                            {{objItem.buffer}}
                                                        </a>
                                                        <ul class="dropdown-menu dropdown-menu-left dropdown-125 dropdown-lighter dropdown-close dropdown-caret">
                                                            <li>
                                                                <table class="table table-bordered">
                                                                    <tbody ng-repeat="locbuffer in objItem.binBuffer">
                                                                        <tr class="table-header">
                                                                            <td>{{locbuffer.LocationName}}</td>
                                                                            <td>{{locbuffer.LocationBuffer}}</td>
                                                                        </tr>
                                                                        <tr>
                                                                            <td colspan="2">
                                                                                <table class="table table-condensed table-bordered">
                                                                                    <tbody>
                                                                                        <tr ng-repeat="binbuffer in locbuffer.Bin">
                                                                                            <td>{{binbuffer.tblMasterBin.BinIdentifier}}</td>
                                                                                            <td>{{binbuffer.Buffer}}</td>
                                                                                        </tr>
                                                                                    </tbody>
                                                                                </table>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </td>
                                            <td ng-if="isWorkOrderIssueScreen">{{objItem.totalIssuedQty}}</td>
                                            <td ng-if="isWorkOrderIssueScreen">                                                
                                                <input type="text" style="width:90%;" name="txtGridToBeIssueQty" ng-blur="getSuggestions(objItem);" class="form-control" ng-model="objItem.issueQty" placeholder="Issue Qty" data-placement="bottom" data-title="Edit" bs-tooltip>
                                                <div class="inline dropdown-hover">
                                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                    <ul class="dropdown-menu dropdown-menu-left dropdown-125 dropdown-lighter dropdown-close dropdown-caret">
                                                        <li>
                                                <table class="table table-bordered">
                                                                <tbody ng-repeat="locbuffer in objItem.releaseWOSuggestion[0]">
                                                        <tr class="table-header">
                                                                        <td style="width:35%">{{locbuffer.LocationIdentifier}}</td>
                                                                        <td style="width:30%">{{locbuffer.LocationBuffer}}</td>
                                                                        <td style="width:35%">{{locbuffer.LocationIssueQty}}</td>
                                                        </tr>
                                                        <tr>
                                                                        <td colspan="3">
                                                                <table class="table table-condensed table-bordered">
                                                                    <tbody>
                                                                        <tr ng-repeat="binbuffer in locbuffer.Bin">
                                                                                        <td style="width:35%">{{binbuffer.BinIdentifier}}</td>
                                                                                        <td style="width:30%">{{binbuffer.BinBuffer}}</td>
                                                                                        <td style="width:35%"><input type="text" style="width:98%;" name="txtIssueGridToBeIssueQty" class="form-control" ng-model="binbuffer.IssueQty" placeholder="Issue Qty"></td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                        </li>
                                                    </ul>

                                                </div>

                                                <!--<div class="inline dropdown-hover">
                                                    <i class="ace-icon fa fa-pencil bigger-130"></i>
                                                    <ul class="dropdown-menu dropdown-menu-left dropdown-125 dropdown-lighter dropdown-close dropdown-caret">
                                                        <li>
                                                            <table class="table table-bordered">
                                                                <tbody ng-repeat="locbuffer in objItem.binBuffer">
                                                                    <tr class="table-header">
                                                                        <td>{{locbuffer.LocationName}}</td>
                                                                        <td>{{locbuffer.LocationBuffer}}</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td colspan="2">
                                                                            <table class="table table-condensed table-bordered">
                                                                                <tbody>
                                                                                    <tr ng-repeat="binbuffer in locbuffer.Bin">
                                                                                        <td>{{binbuffer.tblMasterBin.BinIdentifier}}</td>
                                                                                        <td>{{binbuffer.Buffer}}</td>
                                                                                        <td><input type="text" style="width:98%;" name="txtIssueGridToBeIssueQty" class="form-control" ng-model="objItem1.toBeIssueQty" placeholder="Issue Qty"></td>
                                                                                    </tr>
                                                                                </tbody>
                                                                            </table>
                                                                        </td>
                                                                    </tr>
                                                                </tbody>
                                                            </table>
                                                        </li>
                                                    </ul>
                                                </div>-->
                                            </td>

                                            <td ng-if="!isWorkOrderIssueScreen"><a ng-click="openDrawingPopUp()">{{objItem.dwgName}}</a></td>
                                            <td><input type="text" style="width:98%;" name="txtGridProcStatus" class="form-control" ng-model="objItem.procStatus" placeholder="Proc Status" data-autoclose="1" data-date-format="dd-MM-yyyy" bs-datepicker required ng-disabled="isEditMode ==true && workOrder.lngDocStatus!=1"></td>
                                            <td><input type="text" style="width:98%;" name="txtGridNote" class="form-control" ng-model="objItem.strNote" placeholder="Note" ng-disabled="isEditMode ==true && workOrder.lngDocStatus!=1"></td>
                                            <td ng-if="!isWorkOrderIssueScreen"><input type="checkbox" style="height:15px; width:15px;" name="chkIndent" class="form-control" ng-model="objItem.Indent" ng-disabled="isEditMode ==true && workOrder.lngDocStatus!=1"></td>
                                        </tr>

                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                    <div class="space-8"></div>
                    
                </form>
            </div>
        </div>
    </div>
</div>



