
<div class="main-content-inner">

    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#/">Home</a>
            </li>
            <li>
                <a>Procurement</a>
            </li>

            <li class="active">Supplier Evaluation Explanations</li>
        </ul>
        <!-- /.breadcrumb -->
    </div>
    <div class="page-content">
        <div class="row" style="margin-bottom: 10px;">
            <div class="col-xs-12" style="text-align: center; text-decoration: underline;">
                <h4>Supplier Evaluation Explanations</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p style="font-weight: bold;">Supplier Evaluation Explanations</p>
                <p>
                    Sri Tech Incorporated will assess and evaluate the performance offered by its material Vendors semi-annually.  The following criteria will be evaluated:
                </p>
                <ul style="list-style-type: disc;">
                    <li>Delivery Performance</li>
                    <li>Quality Performance</li>
                    <li>Price Performance</li>
                </ul>
                <p style="text-align: justify;">
                    Each of these specific criteria will be awarded between 1 and 100 points.  Overall scoring will be a combination of these three criteria, however, each category must be viewed separately.  All Vendors are expected to strive for the maximum number of points.  The final classification of their evaluation is derived from the following point scale:
                </p>
                <p style="font-weight: bold;">
                    <span style="display: inline-block; width: 10%;">Points</span>
                    <span>Assessment / Measures Required</span>
                </p>
                <p>
                    <span style="display: inline-block; width: 10%;">100 – 81</span>
                    <span style="font-weight: bold;">Outstanding Performance</span>
                </p>
                <p>The Vendor is not required to respond to the evaluation, and is considered preferentially by the Buyer when placing orders.</p>
                <p>
                    <span style="display: inline-block; width: 10%;">80 – 61</span>
                    <span style="font-weight: bold;">Good Performance</span>
                </p>
                <p>
                    The Vendor’s performance is considered acceptable, but continuous improvements are encouraged.
                </p>
                <p>
                    <span style="display: inline-block; width: 10%;">60 – 41</span>
                    <span style="font-weight: bold;">Average Performance</span>
                </p>
                <p style="text-align: justify;">
                    The Vendor is required to provide a written response to the evaluation, and must identify their plan to improve performance.  A new date for an interim evaluation may be warranted to verify implementation of corrective actions.  Orders placed with the Vendor are exercised with caution and possibly to a restricted or limited extent. The Vendor is notified of their responsibility to assume any added cost due to the need for increased examination or inspection deemed appropriate to verify compliance on future deliveries of product. The Vendor is labelled as “Under Performance Observation”.
                </p>
                <p>
                    <span style="display: inline-block; width: 10%;">40 – 01</span>
                    <span style="font-weight: bold;">Re-qualification Required</span>
                </p>
                <p style="text-align: justify;">
                    The Vendor is required to provide a written response to the evaluation, must identify their plan to improve performance, and accept a mandatory, agreed-upon timeline for the improvement of performance. A personal meeting between Buyer and the Vendor may be warranted.  The Vendor is notified of their responsibility to assume any additional costs due to increased examination or inspection of their product as a result of the evaluation.  The Vendor is placed on a more frequent audit schedule and any poor performance on subsequent evaluations or audits will result in the complete disqualification of the Vendor.
                </p>
                <p>Specific evaluation of Vendor Performance criteria are based on the following:</p>
                <p>
                    <b style="margin-right: 15px;">Criteria 1:</b>   <b>Delivery Performance</b><br />
                    Assessed by the Materials Management Department
                </p>
                <p style="text-align: justify;">
                    Overall delivery performance is divided into two separate performance groups; On-time Delivery Performance and Quantity Reliability.  The overall scoring of delivery performance is obtained by recording all delivery activity for the Vendor, and applying a weighting factor between On-time Delivery Performance and Quantity Reliability.
                </p>
                <p>The weighting factor is 60% for On-time Delivery Performance and 40% for Quantity Reliability.</p>
                <p style="text-align: justify;">
                    Only those purchase orders for whose delivery dates fall within the specified period and are actually received will be counted.  Receipt is defined as physical arrival of the goods.  If required, a detailed account of specific, individual performances my be provided to the Vendor.
                </p>
                <p style="font-weight: bold;">On-Time Delivery Performance</p>
                <p style="text-align: justify;">
                    Any deviation from the delivery due date (contractual delivery obligation on the Sri Tech Purchase Order) and the actual date received is measured in plus or minus days.   In the example below, a “+” indicates a delivery that is made later than the delivery due date, and a “-“indicates a delivery is made earlier than the delivery due date.  Vendors are required to deliver in accordance with the specific delivery due date, and not to weekly objectives, as this may cause the delivery performance to deviate unnecessarily.
                </p>
            </div>
        </div>
        <div class="row" style="margin-bottom:10px;">
            <div class="col-xs-12">
                <table class="table-bordered" style="width:30%;">
                    <thead>
                        <tr>
                            <th style="background-color:maroon;color:white;width:5%;text-align:center;">Points</th>
                            <th style="background-color:maroon;color:white;width:10%;text-align:center;">Deviation in<br /> days late</th>
                            <th style="background-color:maroon;color:white;width:10%;text-align:center;">Deviation in<br /> days early</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">
                        <tr>
                            <td>100</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>90</td>
                            <td>+1</td>
                            <td>-3</td>
                        </tr>
                        <tr>
                            <td>80</td>
                            <td>+3</td>
                            <td>-7</td>
                        </tr>
                        <tr>
                            <td>70</td>
                            <td>+5</td>
                            <td>-10</td>
                        </tr>
                        <tr>
                            <td>60</td>
                            <td>+7</td>
                            <td>-14</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>+10</td>
                            <td>-17</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>+14</td>
                            <td>-21</td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <td>+18</td>
                            <td>-24</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>+21</td>
                            <td>-28</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>+28 and more</td>
                            <td>-35 and more</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p style="text-align: justify;">
                    Example:  A Purchase Order is placed and acknowledged for delivery of a material on November 11, 2009.  Actual delivery and receipt occurs on November 18, 2009.  The deviation to required delivery is 5 days.  In observing the values on the table above, the late delivery of 5 days corresponds with a point value of 70 in the performance table.  If this were the only delivery made by the Vendor, their score would be a 70.
                </p>
                <p style="font-weight: bold;">Quantity Reliability</p>
                <p style="text-align: justify;">
                    Quantity Reliability is a measure of the Vendor’s ability to provide the right quantity of a material (in accordance with the Purchase Order) when the material is shipped and received at Rotek.  In the example below, a “+” indicates a delivery quantity that is made in excess of the required quantity on the Purchase Order, and a “-“indicates a delivery quantity is made that is less than the required quantity on the Purchase Order.  
                </p>
            </div>
        </div>
        <div class="row" style="margin-bottom:10px;">
            <div class="col-xs-12">
                <table class="table-bordered" style="width: 30%;">
                    <thead>
                        <tr>
                            <th style="background-color:maroon;color:white;width:5%;text-align:center;">Points</th>
                            <th style="background-color:maroon;color:white;width:5%;text-align:center;">Percentage deviation excess quantity</th>
                            <th style="background-color:maroon;color:white;width:5%;text-align:center;">Percentage deviation reduced quantity</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">
                        <tr>
                            <td>100</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>90</td>
                            <td>+2.5</td>
                            <td>-1.5</td>
                        </tr>
                        <tr>
                            <td>80</td>
                            <td>+5.0</td>
                            <td>-3.0</td>
                        </tr>
                        <tr>
                            <td>70</td>
                            <td>+7.5</td>
                            <td>-4.0</td>
                        </tr>
                        <tr>
                            <td>60</td>
                            <td>+10.0</td>
                            <td>-5.0</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>+12.5</td>
                            <td>-7.5</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>+15.0</td>
                            <td>-10.0</td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <td>+17.5</td>
                            <td>-15.0</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>+20.0</td>
                            <td>-20.0</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>+22.5</td>
                            <td>-25.0</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>+25.0 and more</td>
                            <td>-30 and less</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p style="text-align: justify;">
                    Example: A Purchase Order is placed and acknowledged for delivery of 100 units of a material.  When the delivery is made, only 95 units arrive.  The deviation is 5% of the line item total, so the Vendor receives a score of 60 points for the short delivery.  
                </p>
                <p>
                    <b style="margin-right: 15px;">Criteria 2:</b>   <b>Quality  Performance</b><br />
                    Assessed by the Quality Department
                </p>
                <p style="text-align: justify;">
                    Overall Quality performance is divided into three separate performance groups; Total Quantity Rejected v. Total Quantity Received, Required Documentation, and Quality Management System.  The overall scoring of Quality performance is obtained by recording all Quality activity for the Vendor, and applying a weighting factor between Quantity Received v. Rejected, Required Documentation, and Quality Management System.
                </p>
                <p>
                    The weighting factor is 50% for Rejection v. Receipts, 30% for Required Documentation, and 20% for Quality Management System.
                </p>
                <p style="font-weight: bold;">Quantity Rejected v. Total Quantity Received</p>
                <p>A measure of the percentage of materials received that are discrepant.</p>
                <p style="font-weight: bold;">Required Documentation</p>
                <p style="text-align: justify;">
                    A measure of how well a Vendor did in providing all necessary documentation such as drawings, inspection reports, etc. in the performance of the required delivery.
                </p>
                <p style="font-weight: bold;">
                    Quality Management System
                </p>
                <p>A measure of a Vendor’s overall Quality Management System.</p>
                <p>
                    <b style="margin-right: 15px;">Criteria 3:</b>   <b>Price  Performance</b><br />
                    Assessed by the Materials Management Department
                </p>
                <p style="text-align: justify;">
                    Overall Price performance is divided into two separate performance groups; Price Level and Price Trend.  The overall scoring of price performance is obtained by recording all price activity for the Vendor, and applying a weighting factor between Price Levels and Price Trends.
                </p>
                <p>The weighting factor is 60% for Price Level and 40% for Price Trend.</p>
                <p style="font-weight: bold;">Price Level</p>
                <p style="text-align: justify;">
                    The price offered by a Vendor for a material during the report period is compared in relation to the market price.  The market rate is a comparison of all valid prices from all Vendors of such material during the report period.  
                </p>
                <p style="justify;">
                    In the example below, a “+” indicates that a price offered by a Vendor is greater than the market rate, while a “-“ indicates that a price offered by a Vendor is  lower than the market rate.
                </p>
            </div>
        </div>
        <div class="row" style="margin-bottom:10px;">
            <div class="col-xs-12">
                <table style="width: 20%;" class="table-bordered">
                    <thead>
                        <tr>
                            <th style="background-color:maroon;color:white;text-align:center;">Points</th>
                            <th style="background-color:maroon;color:white;text-align:center;">Deviation %</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">
                        <tr>
                            <td>100</td>
                            <td>-12</td>
                        </tr>
                        <tr>
                            <td>95</td>
                            <td>-9</td>
                        </tr>
                        <tr>
                            <td>90</td>
                            <td>-6</td>
                        </tr>
                        <tr>
                            <td>85</td>
                            <td>-3</td>
                        </tr>
                        <tr>
                            <td>80</td>
                            <td>0</td>
                        </tr>

                        <tr>
                            <td>75</td>
                            <td>+1</td>
                        </tr>
                        <tr>
                            <td>70</td>
                            <td>+2</td>
                        </tr>
                        <tr>
                            <td>65</td>
                            <td>+2.5</td>
                        </tr>
                        <tr>
                            <td>60</td>
                            <td>+3.5</td>
                        </tr>
                        <tr>
                            <td>55</td>
                            <td>+5</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>+7</td>
                        </tr>

                        <tr>
                            <td>45</td>
                            <td>+9</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>+11</td>
                        </tr>
                        <tr>
                            <td>35</td>
                            <td>+13</td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <td>+15</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>+17</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>+19</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>+21</td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>+23</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>+25 and more</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <p style="text-align: justify;">
                    Example: In comparing the price offered by Vendor “A” of $100 per unit, Vendor “B” offers the same material for $84 per unit and Vendor “C” offers it for $110 per unit.  The market rate is determined to be an average of the total market prices divided by the total number of suppliers ($100 + $84 + $110) / 3  = $98 per unit.  Vendor “A” therefore compares with a deviation of +2% and is awarded a score of 70.
                </p>
                <p style="font-weight: bold;">Price Trend</p>
                <p style="text-align: justify;">
                    The price trend offered by a Vendor is compared to the rate of the trend in the market. In the example below, a “+” indicates that a price offered by a Vendor is greater than the market trend rate, while a “-“ indicates that a price offered by a Vendor is  lower than the market trend rate.
                </p>
                <p style="text-align: justify;">Example: The average market price (all Vendors) fell by 5% from the original $100 per unit to the current price of $95 per unit.  Vendor “A” has raised their price from $120 per unit to $122 per unit, or a 1.5% increase.</p>
                <p>
                    Example calculation:
                </p>
                <ul style="list-style-type: decimal;">
                    <li>Vendor “A” former pricing was $120 per unit, and should have been expected to follow the market trend of -5%, resulting in a price of $114 per unit.</li>
                    <li>The actual price development of Vendor “A” was from $120 per unit to $122 per unit, or a 1.5% increase.</li>
                    <li>The analysis of Vendor “A” with regard to the market rate is that their actual price of $122 per unit should be compared to the average rate of $114 per unit, resulting in a +7% increase.</li>
                    <li>A deviation of +7% results in a score of 35 as shown below.</li>
                </ul>
            </div>
        </div>
            <div class="row" style="margin-bottom:10px;">
            <div class="col-xs-12">
                <table style="width: 20%;" class="table-bordered">
                    <thead>
                        <tr>
                            <th style="background-color:maroon;color:white;text-align:center;">Points</th>
                            <th style="background-color:maroon;color:white;text-align:center;">Deviation %</th>
                        </tr>
                    </thead>
                    <tbody style="text-align:center;">
                        <tr>
                            <td>100</td>
                            <td>-6</td>
                        </tr>
                        <tr>
                            <td>95</td>
                            <td>-5</td>
                        </tr>
                        <tr>
                            <td>90</td>
                            <td>-4</td>
                        </tr>
                        <tr>
                            <td>85</td>
                            <td>-3</td>
                        </tr>
                        <tr>
                            <td>80</td>
                            <td>-2</td>
                        </tr>

                        <tr>
                            <td>75</td>
                            <td>11</td>
                        </tr>
                        <tr>
                            <td>70</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>65</td>
                            <td>+1</td>
                        </tr>
                        <tr>
                            <td>60</td>
                            <td>+2</td>
                        </tr>
                        <tr>
                            <td>55</td>
                            <td>+3</td>
                        </tr>
                        <tr>
                            <td>50</td>
                            <td>+4</td>
                        </tr>

                        <tr>
                            <td>45</td>
                            <td>+5</td>
                        </tr>
                        <tr>
                            <td>40</td>
                            <td>+6</td>
                        </tr>
                        <tr>
                            <td>35</td>
                            <td>+7</td>
                        </tr>
                        <tr>
                            <td>30</td>
                            <td>+8</td>
                        </tr>
                        <tr>
                            <td>20</td>
                            <td>+9</td>
                        </tr>
                        <tr>
                            <td>15</td>
                            <td>+10</td>
                        </tr>
                        <tr>
                            <td>10</td>
                            <td>+11 </td>
                        </tr>
                        <tr>
                            <td>5</td>
                            <td>+12</td>
                        </tr>
                        <tr>
                            <td>1</td>
                            <td>+13 and more</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
