<div class="main-content-inner">

    <div class="breadcrumbs ace-save-state" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#/">Home</a>
            </li>
            <li>
                <a>Master</a>
            </li>
            <li>
                <a>Manufacturing BOM</a>
            </li>
            <li class="active">Operations Material</li>
        </ul><!-- /.breadcrumb -->

        <div class="nav-search" id="nav-search">
            <button class="btn1 btn-primary" type="button" ng-click="AddBOMOperationMaterialClick();">
                <i class="ace-icon fa fa-plus-circle bigger-110"></i>
                Add
            </button>
            <button class="btn1" type="reset" ng-click="CancelBOMOperationMaterialClick();">
                <i class="ace-icon fa fa-closecircle bigger-110"></i>
                Cancel
            </button>
        </div><!-- /.nav-search -->
    </div>

    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="dataTables_wrapper form-inline">

                    <table st-table="dispOperationsMaterial" st-safe-src="allOperationsMaterial" class="table table-striped table-bordered table-hover" st-set-filter="customFilter">
                        <thead>
                            <tr>
                                <td colspan="13">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="dataTables_length" id="dynamic-table_length">
                                                <label>Display <select name="dynamic-table_length" class="input-sm" ng-model="itemsByPage"><option value="5">5</option><option value="10">10</option><option value="20">20</option><option value="50">50</option><option value="100">100</option></select> records</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="dataTables_filter" id="dynamic-table_filter">
                                                <div class="pull-right tableTools-container">
                                                    <div class="btn-group btn-overlap">
                                                        <span data-type="info" data-placement="bottom" data-title="Export to CSV" bs-tooltip>
                                                            <a tabindex="0" class="btn btn-white btn-primary btn-bold" export export-data="allOperationsMaterial" export-keys="exportKeys" export-headers="exportHeaders"><i class="fa fa-copy bigger-110 pink"></i></a>
                                                        </span>
                                                        <span data-type="info" data-placement="bottom" data-title="Export to Excel" bs-tooltip>
                                                            <a tabindex="0" class="btn btn-white btn-primary  btn-bold"><i class="fa fa-file-excel-o bigger-110 green"></i></a>
                                                        </span>
                                                        <span data-type="info" data-placement="bottom" data-title="Export to PDF" bs-tooltip>
                                                            <a tabindex="0" class="btn btn-white btn-primary  btn-bold"><i class="fa fa-file-pdf-o bigger-110 red"></i></a>
                                                        </span>
                                                        <span data-type="info" data-placement="bottom" data-title="Refresh Grid" bs-tooltip>
                                                            <a tabindex="0" class="btn btn-white btn-primary  btn-bold" st-reset-search><i class="fa fa-refresh bigger-110 grey"></i></a>
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th style="width:8%;">Action</th>
                                <th style="width:8%;">
                                    Status
                                </th>
                                <th style="width:8%;">
                                    <div class="sort" st-sort="strBOMNumber"><a>BOM #</a></div>
                                    <input type="text" class="filterControl" autocomplete="off" st-search="strBOMNumber" />
                                </th>
                                <th style="width:15%;">
                                    <div class="sort" st-sort="ItemName"><a>Item</a></div>
                                    <input type="text" class="filterControl" autocomplete="off" st-search="tblMasterItem.Identifier+tblMasterItem.ItemName" />
                                </th>
                                <th style="width:15%;">
                                    <div class="sort" st-sort="strVersion"><a>Version</a></div>
                                    <input type="text" class="filterControl" autocomplete="off" st-search="strVersion" />
                                </th>
                                <th style="width:10%;">
                                    <div class="sort" st-sort="decBatchQty"><a>Batch Qty</a></div>
                                    <input type="text" class="filterControl" autocomplete="off" st-search="decBatchQty+tblMasterUnitOfMeasure.UOMCode" />
                                </th>
                                <th style="width:8%;">
                                    <div class="sort" st-sort="tblMasterDrawing.Identifier"><a>Diagram</a></div>
                                    <input type="text" class="filterControl" autocomplete="off" st-search="tblMasterDrawing.Identifier" />
                                </th>
                                <th style="width:8%;">
                                    <div class="sort" st-sort="created"><a>Created By</a></div>
                                    <input type="text" class="filterControl" autocomplete="off" st-search="created" />
                                </th>

                                <th style="width:15%;">
                                    <div class="sort" st-sort="approved"><a>Approved</a></div>
                                    <input type="text" class="filterControl" autocomplete="off" st-search="approved" />
                                </th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="operationsMaterial in dispOperationsMaterial" ng-class="{'tableRow': !isEven($index +1), 'tableRowAlternate': isEven($index +1)}">
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">                                       
                                        <a class="green cursorpointer" ng-click="editoperationsMaterialClick(operationsMaterial)" data-placement="bottom" data-title="Edit" bs-tooltip>
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                        </a>
                                        <a class="red cursorpointer" data-placement="bottom" data-title="Delete" bs-tooltip>
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                        </a>
                                        <a class="green cursorpointer" ng-click="setDocStatusToWorkingDraft(operationsMaterial)" data-placement="bottom" data-title="Document Status" bs-tooltip ng-if="(operationsMaterial.lngDocStatus==2)">
                                            <i class="ace-icon fa fa-reply bigger-130"></i>
                                        </a>
                                        <a class="green cursorpointer" ng-click="setDocStatusToCompleted(operationsMaterial)" data-placement="bottom" data-title="Document Status" bs-tooltip ng-if="operationsMaterial.lngDocStatus==1">
                                            <i class="ace-icon fa fa-share bigger-130"></i>
                                        </a>
                                    </div>
                                </td>
                                <td><span ng-if="operationsMaterial.lngDocStatus==1">Working Draft</span><span ng-if="operationsMaterial.lngDocStatus==2">Completed</span><span ng-if="operationsMaterial.lngDocStatus==3">Reviewed by Supervisor</span></td>

                                <td>{{operationsMaterial.strBOMNumber}}</td>
                                <td>{{operationsMaterial.tblMasterItem.Identifier}} - {{operationsMaterial.tblMasterItem.ItemName}}</td>
                                <td>{{operationsMaterial.strVersion}}</td>
                                <td>{{operationsMaterial.decBatchQty}} {{operationsMaterial.tblMasterUnitOfMeasure.UOMCode}}</td>
                                <td>{{operationsMaterial.tblMasterDrawing.Identifier}}</td>
                                <td><span data-placement ="bottom" data-title="{{operationsMaterial.created}} On {{operationsMaterial.datCreatedOn|date:'dd/MM/yyyy'}}" bs-tooltip>{{operationsMaterial.created}}</span></td>
                                <td><span data-placement="bottom" data-title="{{operationsMaterial.approved}} On {{operationsMaterial.datApprovedOn|date:'dd/MM/yyyy'}}" bs-tooltip>{{operationsMaterial.approved}}</span></td>                               
                            </tr>
                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="13">
                                    <div st-pagination="" st-items-by-page="itemsByPage"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>

            </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->

    


</div>