<div class="modal" tabindex="-1" role="dialog" style="display: block" ng-controller="maintainTaxController">
    <div class="modal-dialog" style="width:80%">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" ng-click="$hide()">&times;</button>
                <h4 class="modal-title">Add /Edit Tax</h4>
            </div>
            <div class="modal-body">
                <div class="alert alert-danger" ng-if="isError">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    <strong>
                        <i class="ace-icon fa fa-times"></i>
                        Oh snap!
                    </strong>
                    {{SuccessErrorMessage}}
                    <br />
                </div>
                <div class="alert alert-block alert-success" ng-if="isSuccess">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>
                    <p>
                        <strong>
                            <i class="ace-icon fa fa-check"></i>
                            Well done!
                        </strong>
                        {{SuccessErrorMessage}}
                    </p>
                </div>
                <form name="userForm" class="form-horizontal" novalidate>
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group" ng-class="{ 'has-error' : userForm.txtTaxCode.$invalid && (userForm.txtTaxCode.$dirty || submitted)}">
                                <label class="col-sm-2">Code</label>
                                <div class="col-sm-10">
                                    <input type="text" name="txtTaxCode" class="form-control" ng-model="Tax.TaxCode" placeholder="Code" ng-required="true">
                                    <p ng-show="userForm.txtTaxCode.$error.required && (userForm.txtTaxCode.$dirty || submitted)" class="help-block">You name is required.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6"></div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group" ng-class="{ 'has-error' : userForm.txtDescription.$invalid && (userForm.txtDescription.$dirty || submitted)}">
                                <label class="col-sm-2">Description</label>
                                <div class="col-sm-10">
                                    <input type="text" name="txtDescription" class="form-control" ng-model="Tax.TaxDescription" placeholder="Description" ng-required="true" ng-minlength="2" ng-maxlength="100">
                                    <p ng-show="userForm.txtDescription.$error.required && (userForm.txtDescription.$dirty || submitted)" class="help-block">Description is required.</p>
                                    <p ng-show="userForm.txtDescription.$error.minlength && (userForm.txtDescription.$dirty || submitted)" class="help-block">Description is too short.</p>
                                    <p ng-show="userForm.txtDescription.$error.maxlength && (userForm.txtDescription.$dirty || submitted)" class="help-block">Description is too long.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-6"></div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary btn-sm" ng-click="saveClick(userForm)">Save</button>
                <button type="button" class="btn btn-danger btn-sm" ng-click="cancelClick()">Cancel</button>
               
            </div>
        </div>
    </div>
</div>