<div class="main-content-inner">
    <div class="breadcrumbs ace-save-state " id="breadcrumbs" >
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#/">Home</a>
            </li>

            <li>
                <a>Master</a>
            </li>
            <li class="active">Unit of Measure</li>
        </ul><!-- /.breadcrumb -->

        <div class="nav-search" id="nav-search">
            <button class="btn1 btn-primary" type="button" ng-click="AddUOMClick();">
                <i class="ace-icon fa fa-plus-circle bigger-110"></i>
                Add
            </button>
            <button class="btn1" type="button" ng-click="cancelUOMClick();">
                <i class="ace-icon fa fa-closecircle bigger-110"></i>
                Cancel
            </button>
        </div><!-- /.nav-search -->
    </div>

    <div class="page-content">
        <div class="row">
            <div class="col-xs-12">
                <div class="dataTables_wrapper form-inline">                    
                    <table st-table="dispUOM" st-safe-src="allUOM" class="table table-striped table-bordered table-hover" st-set-filter="customFilter">
                        <thead>
                            <tr>
                                <td colspan="3">
                                    <div class="row">
                                        <div class="col-xs-6">
                                            <div class="dataTables_length" id="dynamic-table_length">
                                                <label>Display <select name="dynamic-table_length" class="input-sm" ng-model="itemsByPage"><option value="5">5</option><option value="10">10</option><option value="20">20</option><option value="50">50</option><option value="100">100</option></select> records</label>
                                            </div>
                                        </div>
                                        <div class="col-xs-6">
                                            <div class="dataTables_filter" id="dynamic-table_filter">
                                                <div class="pull-right tableTools-container">
                                                    <div class="btn-group btn-overlap">                                                        
                                                        <span data-type="info" data-placement="bottom" data-title="Export to CSV" bs-tooltip>
                                                            <a tabindex="0" class="btn btn-white btn-primary btn-bold" export export-data="allUOM" export-keys="exportKeys" export-headers="exportHeaders"><i class="fa fa-copy bigger-110 pink"></i></a>
                                                        </span>
                                                        <span data-type="info" data-placement="bottom" data-title="Export to Excel" bs-tooltip>
                                                            <a tabindex="0" class="btn btn-white btn-primary  btn-bold"><i class="fa fa-file-excel-o bigger-110 green"></i></a>
                                                        </span>
                                                        <span data-type="info" data-placement="bottom" data-title="Export to PDF" bs-tooltip>
                                                            <a tabindex="0" class="btn btn-white btn-primary  btn-bold"><i class="fa fa-file-pdf-o bigger-110 red"></i></a>
                                                        </span>
                                                        <span data-type="info" data-placement="bottom" data-title="Refresh Grid" bs-tooltip>
                                                            <a tabindex="0" class="btn btn-white btn-primary  btn-bold" st-reset-search><i class="fa fa-refresh bigger-110 grey"></i></a>
                                                        </span>

                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </thead>
                        <thead>
                            <tr>
                                <th style="width:5%;">Actions</th>
                                <th style="width:50%;">
                                    <div class="sort" st-sort="UOMCode"><a>Code</a>&nbsp;<i class="ace-icon fa fa-question-circle small" data-placement="bottom" data-title="Unit of measurement Code" bs-tooltip></i></div>
                                    <input type="text" class="filterControl" style="width:30%" autocomplete="off" st-search="UOMCode" />
                                </th>
                                <th style="width:45%;">
                                    <div class="sort" st-sort="UOMDescription"><a>Description</a>&nbsp;<i class="ace-icon fa fa-question-circle small" data-placement="bottom" data-title="Unit of measurement Description" bs-tooltip></i></div>
                                    <input type="text" class="filterControl" style="width:30%" autocomplete="off" st-search="UOMDescription" />
                                </th>
                            </tr>
                        </thead>
                        <tbody style="height:150px;">
                            <tr ng-repeat="UOM in dispUOM" ng-class="{'tableRow': !isEven($index +1), 'tableRowAlternate': isEven($index +1)}">
                                <td>
                                    <div class="hidden-sm hidden-xs action-buttons">                                        
                                        <a class="green cursorpointer" ng-click="editUOMClick(UOM)" data-placement="bottom" data-title="Edit" bs-tooltip>
                                            <i class="ace-icon fa fa-pencil bigger-130"></i>
                                        </a>
                                        <a class="red cursorpointer" data-placement="bottom" data-title="Delete" bs-tooltip>
                                            <i class="ace-icon fa fa-trash-o bigger-130"></i>
                                        </a>
                                    </div>
                                </td>                             
                                <td>{{UOM.UOMCode}}</td>
                                <td>{{UOM.UOMDescription}}</td>

                            </tr>

                        </tbody>
                        <tfoot>
                            <tr>
                                <td colspan="3">
                                    <div st-pagination="" st-items-by-page="itemsByPage"></div>
                                </td>
                            </tr>
                        </tfoot>
                    </table>

                </div>
                    
                </div><!-- /.col -->
        </div><!-- /.row -->
    </div><!-- /.page-content -->   
</div>